DE_PL_100_LOAD_ALL_TABELS.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"f5c838e5-e8bd-4d44-bc76-6c1d320e97ec":{"type":"string"}},"variables":{},"resources":[{"name":"DE_PL_100_LOAD_ALL_TABELS","type":"pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Iterate over all metadata rows","type":"ForEach","state":"Inactive","onInactiveMarkAs":"Succeeded","dependsOn":[{"activity":"Select all unprocessed steps","dependencyConditions":["Succeeded"]}],"typeProperties":{"items":{"value":"@activity('Select all unprocessed steps').output.value\n","type":"Expression"},"isSequential":false,"batchCount":20,"activities":[{"name":"Go to specific activity","description":"Depends on specific source type go to dedicated activity.","type":"Switch","state":"Inactive","onInactiveMarkAs":"Succeeded","dependsOn":[],"typeProperties":{"on":{"value":"@item().SourceSystemType","type":"Expression"},"cases":[{"value":"AzureSQL","activities":[{"name":"Copy from SQL Database - Cloud based","type":"Copy","state":"Inactive","onInactiveMarkAs":"Succeeded","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"AzureSqlSource","sqlReaderQuery":{"value":"@concat(\n    'select ', \n    item().ColumnNames, \n    ' from ', \n    item().SourceObjectName, \n    ' where 1=1 ', \n    item().AdditionalFilters, \n    if(\n        equals(item().ImportType, 'Full'), \n        '', \n        concat(' and ', item().DeltaColumnName, ' > ',item().DeltaColumnMaxValue)\n    )\n)","type":"Expression"},"queryTimeout":"02:00:00","partitionOption":"None","datasetSettings":{"annotations":[],"type":"AzureSqlTable","schema":[],"typeProperties":{"database":{"value":"@item().SourceContainer","type":"Expression"}},"externalReferences":{"connection":"@pipeline().libraryVariables.DS_Oracle_local"}}},"sink":{"type":"ParquetSink","storeSettings":{"type":"LakehouseWriteSettings"},"formatSettings":{"type":"ParquetWriteSettings","maxRowsPerFile":100000,"fileNamePrefix":{"value":"@item().TargetTableName","type":"Expression"},"enableVertiParquet":true},"datasetSettings":{"annotations":[],"linkedService":{"name":"94dca255_0e28_4134_a585_ec03a43495c4","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"@pipeline().libraryVariables.WorkspaceId","artifactId":"@pipeline().libraryVariables.SilverBronzeLakehouseId","rootFolder":"Files"}}},"type":"Parquet","typeProperties":{"location":{"type":"LakehouseLocation","folderPath":{"value":"@concat(item().SourceSystemType,'/',item().SourceContainerName,'/',formatDateTime(utcNow(), 'yyyy-MM-dd'))","type":"Expression"}},"compressionCodec":"snappy"},"schema":[]}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}}}]},{"value":"ADLS-CSV","activities":[{"name":"Copy data from ADLS","type":"Copy","state":"Inactive","onInactiveMarkAs":"Succeeded","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"},"datasetSettings":{"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":{"value":"@item().SourceObjectName","type":"Expression"},"fileSystem":{"value":"@item().SourceContainerName","type":"Expression"}},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[],"externalReferences":{"connection":"[parameters('f5c838e5-e8bd-4d44-bc76-6c1d320e97ec')]"}}},"sink":{"type":"ParquetSink","storeSettings":{"type":"LakehouseWriteSettings"},"formatSettings":{"type":"ParquetWriteSettings","maxRowsPerFile":100000,"enableVertiParquet":true},"datasetSettings":{"annotations":[],"linkedService":{"name":"82d51c2e_a08c_4f21_b46b_385818986726","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"@pipeline().libraryVariables.WorkspaceId","artifactId":"@pipeline().libraryVariables.SilverBronzeLakehouseId","rootFolder":"Files"}}},"type":"Parquet","typeProperties":{"location":{"type":"LakehouseLocation","folderPath":{"value":"@concat(item().SourceSystemType,'/',item().SourceContainerName,'/',formatDateTime(utcNow(), 'yyyy-MM-dd'))","type":"Expression"}},"compressionCodec":"snappy"},"schema":[]}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}}}]},{"value":"SQLServer","activities":[{"name":"Copy from SQL Database -local instance","type":"Copy","state":"Inactive","onInactiveMarkAs":"Succeeded","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"SqlServerSource","sqlReaderQuery":{"value":"@concat(\n    'select ',\n    item().ColumnNames,\n    ' from ',\n    item().SourceObjectName,\n    ' where 1=1 ',\n    item().AdditionalFilters,\n    if(\n        equals(item().ImportType, 'Full'),\n        '',\n        concat(\n            ' and ',\n            item().DeltaColumnName,\n            ' > ''',\n            item().DeltaColumnMaxValue,\n            ''''\n        )\n    )\n)","type":"Expression"},"queryTimeout":"02:00:00","partitionOption":"None","datasetSettings":{"annotations":[],"type":"SqlServerTable","schema":[],"typeProperties":{},"externalReferences":{"connection":"@pipeline().libraryVariables.VAR_LIB_METADATA_CONFIGURATION_DS_SQLServer_ADW"}}},"sink":{"type":"ParquetSink","storeSettings":{"type":"LakehouseWriteSettings"},"formatSettings":{"type":"ParquetWriteSettings","maxRowsPerFile":100000,"fileNamePrefix":{"value":"@item().TargetTableName","type":"Expression"},"enableVertiParquet":true},"datasetSettings":{"annotations":[],"linkedService":{"name":"b14aa589_0019_46d5_9bde_4e992e499e84","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"@pipeline().libraryVariables.VAR_LIB_METADATA_CONFIGURATION_WorkspaceId","artifactId":"@pipeline().libraryVariables.VAR_LIB_METADATA_CONFIGURATION_SilverBronzeLakehouseId","rootFolder":"Files"}}},"type":"Parquet","typeProperties":{"location":{"type":"LakehouseLocation","folderPath":{"value":"@item().ContainerPath","type":"Expression"}},"compressionCodec":"snappy"},"schema":[]}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}}}]},{"value":"Oracle-local","activities":[{"name":"Copy from SQL Database - Cloud based_copy1","type":"Copy","state":"Inactive","onInactiveMarkAs":"Succeeded","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"OracleSource","oracleReaderQuery":{"value":"@concat(\n    'select ',\n    item().ColumnNames,\n    ' from ',\n    item().SourceObjectName,\n    ' where 1=1 ',\n    item().AdditionalFilters,\n    if(\n        equals(item().ImportType, 'Full'),\n        '',\n        concat(\n            ' and ',\n            item().DeltaColumnName,\n            ' > TO_TIMESTAMP(''',\n      item().DeltaColumnMaxValue,\n      ''',''YYYY-MM-DD\"T\"HH24:MI:SS'')'\n           )\n    )\n)","type":"Expression"},"partitionOption":"None","queryTimeout":"02:00:00","datasetSettings":{"annotations":[],"type":"OracleTable","schema":[],"typeProperties":{},"externalReferences":{"connection":"@pipeline().libraryVariables.DS_Oracle_local"}}},"sink":{"type":"ParquetSink","storeSettings":{"type":"LakehouseWriteSettings"},"formatSettings":{"type":"ParquetWriteSettings","maxRowsPerFile":100000,"fileNamePrefix":{"value":"@item().TargetTableName","type":"Expression"},"enableVertiParquet":true},"datasetSettings":{"annotations":[],"linkedService":{"name":"a6c6fcaf_dbde_4517_ad69_f82bfab9b9d4","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"@pipeline().libraryVariables.WorkspaceId","artifactId":"@pipeline().libraryVariables.SilverBronzeLakehouseId","rootFolder":"Files"}}},"type":"Parquet","typeProperties":{"location":{"type":"LakehouseLocation","folderPath":{"value":"@concat(item().SourceSystemType,'/',item().SourceContainerName,'/',formatDateTime(utcNow(), 'yyyy-MM-dd'))","type":"Expression"}},"compressionCodec":"snappy"},"schema":[]}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}}}]}],"defaultActivities":[{"name":"Default one","type":"Wait","dependsOn":[],"typeProperties":{"waitTimeInSeconds":1}}]}},{"name":"Insert Staus flag into temporary table","type":"Script","state":"Inactive","onInactiveMarkAs":"Succeeded","dependsOn":[{"activity":"Go to specific activity","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"linkedService":{"name":"00aa382e_958c_49ce_94ca_4c757435a958","properties":{"annotations":[],"type":"DataWarehouse","typeProperties":{"endpoint":"@pipeline().libraryVariables.VAR_LIB_METADATA_CONFIGURATION_WorkspaceSQLEndpoint","artifactId":"@pipeline().libraryVariables.VAR_LIB_METADATA_CONFIGURATION_MetaWarehouseId","workspaceId":"@pipeline().libraryVariables.VAR_LIB_METADATA_CONFIGURATION_WorkspaceId"}}},"typeProperties":{"scripts":[{"type":"Query","text":{"value":"@concat(\r\n\r\n    'insert into meta.tmp_ProcessingSteps(TableId,Status,CreateDate,Layer) values (',\r\n\r\n    item().TableId,\r\n\r\n    ',1,GetDate(),''',\r\n\r\n    item().Layer,\r\n\r\n       ''');'\r\n\r\n)","type":"Expression"}}],"scriptBlockExecutionTimeout":"02:00:00"}}]}},{"name":"Select all unprocessed steps","type":"Lookup","dependsOn":[{"activity":"Generate ProessingStep table","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"DataWarehouseSource","sqlReaderQuery":"select * from meta.ProcessingSteps where isnull(Status,0)=0 and Layer='Bronze' and IsCurrent=1","queryTimeout":"02:00:00","partitionOption":"None"},"firstRowOnly":false,"datasetSettings":{"annotations":[],"linkedService":{"name":"8ec1ed9a_5c8e_48f5_9d71_8e36170bf541","properties":{"annotations":[],"type":"DataWarehouse","typeProperties":{"endpoint":"@pipeline().libraryVariables.VAR_LIB_METADATA_CONFIGURATION_WorkspaceSQLEndpoint","artifactId":"@pipeline().libraryVariables.VAR_LIB_METADATA_CONFIGURATION_MetaWarehouseId","workspaceId":"@pipeline().libraryVariables.VAR_LIB_METADATA_CONFIGURATION_WorkspaceId"}}},"type":"DataWarehouseTable","schema":[],"typeProperties":{}}}},{"name":"Generate ProessingStep table","type":"SqlServerStoredProcedure","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"storedProcedureName":"[[meta].[usp_GetProcessStepsBronze]"},"linkedService":{"name":"e6c7e5b3_e94f_4f7b_ac94_30b6d0d873a9","properties":{"annotations":[],"type":"DataWarehouse","typeProperties":{"endpoint":"@pipeline().libraryVariables.VAR_LIB_METADATA_CONFIGURATION_WorkspaceSQLEndpoint","artifactId":"@pipeline().libraryVariables.VAR_LIB_METADATA_CONFIGURATION_MetaWarehouseId","workspaceId":"@pipeline().libraryVariables.VAR_LIB_METADATA_CONFIGURATION_WorkspaceId"}}}},{"name":"Update statuses for all processed seps","type":"Script","dependsOn":[{"activity":"Iterate over all metadata rows","dependencyConditions":["Completed"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"linkedService":{"name":"f5c4afd5_ffae_40a6_972e_11d7ca5cfa52","properties":{"annotations":[],"type":"DataWarehouse","typeProperties":{"endpoint":"@pipeline().libraryVariables.VAR_LIB_METADATA_CONFIGURATION_WorkspaceSQLEndpoint","artifactId":"@pipeline().libraryVariables.VAR_LIB_METADATA_CONFIGURATION_MetaWarehouseId","workspaceId":"@pipeline().libraryVariables.VAR_LIB_METADATA_CONFIGURATION_WorkspaceId"}}},"typeProperties":{"scripts":[{"type":"Query","text":{"value":"update A\nset A.Status=B.Status, A.StepModificationDate=B.CreateDate\nfrom meta.ProcessingSteps A join meta.tmp_ProcessingSteps B\non A.TableId=B.TableId and A.Layer=B.Layer\nwhere\nA.IsCurrent=1\nand A.Layer='Bronze'","type":"Expression"}}],"scriptBlockExecutionTimeout":"02:00:00"}}],"libraryVariables":{"DS_Azure_SQL":{"type":"String","variableName":"DS_Azure_SQL","libraryName":"METADATA_CONF"},"DS_Oracle_local":{"type":"String","variableName":"DS_Oracle_Local","libraryName":"METADATA_CONF"},"VAR_LIB_METADATA_CONFIGURATION_WarehouseConnectionId":{"type":"String","variableName":"WarehouseConnectionId","libraryName":"METADATA_CONF"},"VAR_LIB_METADATA_CONFIGURATION_WorkspaceId":{"type":"String","variableName":"WorkspaceId","libraryName":"METADATA_CONF"},"VAR_LIB_METADATA_CONFIGURATION_MetaWarehouseId":{"type":"String","variableName":"MetaWarehouseId","libraryName":"METADATA_CONF"},"VAR_LIB_METADATA_CONFIGURATION_WorkspaceSQLEndpoint":{"type":"String","variableName":"WorkspaceSQLEndpoint","libraryName":"METADATA_CONF"},"VAR_LIB_METADATA_CONFIGURATION_SilverBronzeLakehouseId":{"type":"String","variableName":"SilverBronzeLakehouseId","libraryName":"METADATA_CONF"},"VAR_LIB_METADATA_CONFIGURATION_DS_SQLServer_ADW":{"type":"String","variableName":"DS_SQLServer_ADW","libraryName":"METADATA_CONF"},"VAR_LIB_METADATA_CONFIGURATION_LakehouseConnectionId":{"type":"String","variableName":"LakehouseConnectionId","libraryName":"METADATA_CONF"}},"lastModifiedByObjectId":"6bf6570f-bd2d-47a5-9f5e-e3fc927f6439","lastPublishTime":"2026-01-29T11:02:02Z","logicAppsConnectionPayload":{"id":"/subscriptions/7e9bdea1-f163-48ce-b381-ca0ff507feb4/resourceGroups/connections-8742ecce-8d7a-447b-aa56-99385a00933a/providers/Microsoft.Web/connections/1_c064d0b0-6e53-4912-8596-3624fdbf0bec_6bf6570f-bd2d-47a5-9f5e-e3fc927f6439","properties":{"api":{"name":"office365","id":"/subscriptions/7e9bdea1-f163-48ce-b381-ca0ff507feb4/providers/Microsoft.Web/locations/westeurope/managedApis/office365"}}}},"dependsOn":[]}]}